@import "../../assets/scss/variables.scss";

.drop-down_menu {
    max-width: 28rem; /* Замість md вказано конкретне значення ширини, яке відповідає max-w-md */
    margin-left: auto;
    margin-right: auto;
}
.drop-down_title {
    cursor: pointer;
    height: 2.5rem;
    background-color: #98d7df;
    display: flex;
    border-width: 1px;
    border-color: #e2e8f0;
    border-radius: 0.375rem;
    align-items: center;
    padding: 0.75rem;
}

.drop-down_list {
    position: absolute;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.25rem;
    border-width: 1px;
    border-color: #e2e8f0;
}

.chats_list {
    // height: calc(100vh - 105px);
    height: calc(100vh - 380px);
    overflow-y: auto;
}
.chat_foto {
    border-radius: 20px;
}

.chat_foto-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.chat_user_box {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 5px 8px;
}
.chat_user_box:hover {
    transform: scale(1.1);
    background-color: beige;
}

.messages_list {
    padding: 10px 20px;
    // height: calc(100vh - 200px);
    height: calc(100vh - 380px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.messages_item {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-color: #00000012;
    border-style: solid;
    border-width: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.messages_container {
    display: flex;
}

.messages_container_reverse {
    flex-direction: row-reverse;
}

.messages_item-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.messages_body {
    width: 100%;
}

.messages_time {
    font-size: small;
    font-style: italic;
}

.messages_name {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.messages_foto {
    border-radius: 30px;
}

.messages_foto-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
